<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>Repository</id>
      <username>~~~Client~~~</username>
      <password>fdfa4b4efbba45f1841f5af5bf6561b3~?~FdfE52D3187d43358bA811bD47B520a4</password>
    </server>
  </servers>

</settings>